/******** Screen Size (max: 768px) ********/
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  /******** Section Hero ********/
  .section-hero {
    padding: var(--padding-section);
    padding-top: 0;
  }

  .hero-title {
    font-size: 7.2rem;
  }

  .hero-title-cursive {
    font-size: 10rem;
  }

  /******** Section Run ********/
  .section-run {
    padding: var(--padding-section);
  }

  .section-run-container {
    padding: 5rem;
  }

  .section-run-container {
    flex-direction: column;
  }

  .section-run-container-text,
  .section-run-container-img {
    width: 100%;
  }

  /******** Section Training ********/
  .section-training-gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 20rem);
  }

  .section-training-gallery-img--1 {
    grid-column: 1 / 2;
  }

  .section-training-gallery-img--2 {
    grid-column: 2 / 3;
  }

  .section-training-gallery-img--3 {
    grid-column: 1/ 2;
  }

  .section-training-gallery-img--4 {
    grid-column: 2 / 3;
  }

  .section-training-gallery-img--5,
  .section-training-gallery-img--6 {
    display: none;
  }

  /******** Section Team ********/
  .section-team-gallery {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5rem;
  }

  /******** Footer ********/
  .footer-top {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr;
    gap: 10rem;
  }
  .footer-top-branding,
  .footer-top-content--1,
  .footer-top-content--2 {
    grid-column: 1 / -1;
  }
}

/******** Screen Size (max: 576px) ********/
@media (max-width: 576px) {
  .hero-title {
    font-size: 6.2rem;
  }

  .btn-container {
    flex-direction: column;
  }

  /******** Section Habit ********/
  .habit-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 10rem;
  }

  /******** Section Training ********/
  .section-training {
    text-align: left;
    padding-bottom: 5rem;
  }

  /******** Section Team ********/
  .section-team-gallery {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 5rem;
  }
}
